.box {
    min-height: fit-content; 
    width: 6000px;
    padding: 50px;
    color: white;
    background: rgb(232, 234, 236);
    box-sizing: border-box;
    align: center;

}
body {
    box-sizing:content-box;
    border: medium;
    background: rgb(212, 211, 211);
    align-content: center;
}

h1 {
      padding: 10px;
      margin: 5px;
      margin-bottom: 10px;
      font-size: 28px;
      color: rgb(60, 148, 148);
      font-weight: bold;
      text-align: left;
    } 
    
.jumbotron {
      background-color: white;
      color:white;
  }

.table.dataframe-striped {
  display: inside;
}